@import url(font.scss);
body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #151824;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 1200px;
  position: relative;
}
.header:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc((100% - 100vw) / 2);
  border-bottom: 1px solid #DDE0E5;
  width: 100vw;
}
.header-logo {
  margin-right: 32px;
  position: absolute;
  left: 0;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 154px;
}
.header__nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}
.header__nav-content li a {
  text-decoration: none;
  color: #151824;
  font-size: 15px;
  line-height: 22px;
  margin-right: 27px;
}
.header__nav-content li a:hover {
  color: rgba(4, 14, 151, 0.9);
}
.header__nav-content li a span {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #676E78;
  border-left: 1px solid #676E78;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 5px 5px;
}
.header__nav-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}
.header__nav-user li a {
  text-decoration: none;
  color: #151824;
  font-size: 15px;
  line-height: 22px;
  margin-right: 18px;
}
.header__nav-user li a:hover {
  color: rgba(4, 14, 151, 0.9);
}
.header__nav-user li a span {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #676E78;
  border-left: 1px solid #676E78;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 5px 5px;
}

.main {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.invite {
  margin-top: 84px;
  border-radius: 30px;
  background-color: #3D50F9;
  color: #fff;
  padding: 115px 100px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1200px;
}
.invite__paragraph {
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.invite__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  width: 60%;
}
.invite__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
  width: 50%;
}
.invite__button {
  width: 225px;
  height: 55px;
  border-radius: 100px;
  background-color: #FFC960;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.invite__decoration {
  width: 456px;
  height: 456px;
  background-image: url(/images/Work_group.png);
  position: absolute;
  right: 100px;
  top: 66px;
}
.invite__decoration-orange {
  width: 102px;
  height: 102px;
  border-radius: 35%;
  background-color: #FF7449;
  background-image: url(/images/graph.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  -webkit-transform: rotate(11deg);
          transform: rotate(11deg);
  position: absolute;
  top: 285px;
  right: 380px;
}
.invite__decoration-white {
  width: 102px;
  height: 102px;
  border-radius: 35%;
  background-color: #fff;
  background-image: url(/images/Handshake.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  -webkit-transform: rotate(-19deg);
          transform: rotate(-19deg);
  position: absolute;
  right: 0;
  top: 35px;
}

.prompt {
  width: 1000px;
  margin-top: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  max-width: 1200px;
}
.prompt__content {
  width: 50%;
  margin-right: 40px;
}
.prompt__content-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  width: 70%;
}
.prompt__content-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  width: 75%;
}
.prompt__content-promoushen {
  width: 84%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.prompt__content-promoushen li {
  padding: 10px 20px;
}
.prompt__content-promoushen li:nth-child(4n) {
  padding-right: 0;
}
.prompt__content-promoushen li:nth-child(4n+1) {
  padding-left: 0;
}
.prompt__content-icon {
  display: block;
  opacity: 0.5;
}
.prompt__advertising {
  position: relative;
}
.prompt__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border-radius: 30px;
  color: #fff;
}
.prompt__card-title {
  font-weight: 600;
  font-size: 42px;
  line-height: 46px;
  margin: 0;
  padding: 0;
}
.prompt__card-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.prompt__card_grey {
  top: 0;
  left: 35px;
  background-color: #2C3442;
  width: 332px;
  height: 136px;
}
.prompt__card_yellow {
  top: 115px;
  left: 144px;
  width: 295px;
  height: 126px;
  background-color: #FF7449;
  z-index: 2;
}
.prompt__card_blue {
  top: 210px;
  left: 0;
  width: 503px;
  height: 166px;
  background-color: #3D50F9;
}

.partnership {
  max-width: 1000px;
  margin-top: 183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partnership__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  margin: 0;
  padding: 0;
}
.partnership__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}
.partnership__card {
  background-color: #FFF3E1;
  border-radius: 30px;
  margin-right: 21px;
  max-width: 420px;
  padding: 39px 61px 53px 39px;
  position: relative;
}
.partnership__card:last-child {
  margin-right: 0;
}
.partnership__card-icon {
  position: absolute;
  top: 39px;
  left: 39px;
}
.partnership__card-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-top: 143px;
}
.partnership__card-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 17px;
}
.partnership__button {
  width: 225px;
  height: 55px;
  border-radius: 100px;
  background-color: #3D50F9;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-top: 72px;
  color: #fff;
}

.cooperation {
  max-width: 1200px;
  background-color: #2C3442;
  border-radius: 30px;
  margin-top: 150px;
  color: #fff;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cooperation__take {
  width: 90%;
}
.cooperation__take-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  width: 80%;
}
.cooperation__take-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 28px;
  width: 75%;
}
.cooperation__take-button {
  width: 225px;
  height: 55px;
  border-radius: 100px;
  background-color: #FFC960;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  color: #353D4A;
  margin-top: 55px;
}
.cooperation__decoration {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cooperation__decoration-image {
  width: 55px;
  height: 55px;
  background-size: 55px 55px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
.cooperation__decoration-image > p {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
.cooperation__decoration-image:first-child {
  color: #2C3442;
  background-image: url(/images/card-image-white.svg);
}
.cooperation__decoration-image:nth-child(3) {
  background-image: url(/images/card-image-orange.svg);
}
.cooperation__decoration-image:nth-child(5) {
  background-image: url(/images/card-image-blue.svg);
}
.cooperation__decoration > ul {
  list-style-image: url(/images/Blue-point.svg);
  list-style-position: inside;
}
.cooperation__decoration > ul > li {
  height: 26px;
}
.cooperation__content {
  list-style: none;
  width: 55%;
  padding: 0;
  margin: 14px 0 0 25px;
}
.cooperation__content-point {
  margin-top: 65px;
}
.cooperation__content-point:first-child {
  margin-top: 0;
}
.cooperation__point-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
.cooperation__point-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.cooperation__point-subtitle > span {
  text-decoration: underline;
}

.promote {
  margin-top: 150px;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.promote__card {
  width: 490px;
  background-color: #FFF3E1;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 75px 80px 56px 63px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 20px);
          flex: 1 1 calc(50% - 20px);
}
.promote__card_title {
  background-color: #3D50F9;
  color: #fff;
  padding: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promote__card-icon {
  position: absolute;
  top: 35px;
  left: 63px;
}
.promote__card-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
.promote__card-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 12px;
}
.promote__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  margin: 0;
  padding: 0;
}

.manage {
  margin-top: 150px;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.manage__decoration {
  width: 52%;
}
.manage__content {
  width: 40%;
}
.manage__content-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  margin: 0;
  padding: 0;
  width: 75%;
}
.manage__content-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  width: 85%;
}
.manage__content-button {
  width: 225px;
  height: 55px;
  border-radius: 100px;
  background-color: #3D50F9;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  color: #fff;
  margin-top: 50px;
}

.languages {
  margin-top: 150px;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.languages-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  margin: 0;
  padding: 0;
}
.languages-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  width: 50%;
  text-align: center;
}
.languages__list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 35px 0 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
.languages__list-point {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #FFF3E1;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  padding: 6px 12px 6px 29px;
  position: relative;
  margin-top: 4px;
}
.languages__list-point:before {
  position: absolute;
  left: 12px;
  top: 13px;
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 10px;
  height: 10px;
  border: 5px solid #FF7449;
  border-radius: 50%;
}

.questions {
  max-width: 1200px;
  background-color: #3D50F9;
  color: #fff;
  border-radius: 30px;
  margin-top: 150px;
  padding: 65px 170px 80px 207px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.questions__notification {
  width: 40%;
}
.questions__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}
.questions__content {
  width: 35%;
}
.questions__paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.advantage {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.advantage-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  margin: 0;
  padding: 0;
  width: 650px;
  position: relative;
}
.advantage__slider {
  margin-top: 60px;
  max-width: 1200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantage__slider-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}
.advantage__card {
  width: 1000px;
  background-color: #FFF3E1;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 92px 95px 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.advantage__card-preview {
  width: 46%;
}
.advantage__card-img {
  position: absolute;
  top: 53px;
  left: 74px;
}
.advantage__card-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin: 0;
  padding: 0;
  position: relative;
}
.advantage__card-content {
  width: 44%;
}
.advantage__card-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.advantage__card-user {
  position: relative;
  padding-left: 65px;
  margin-top: 25px;
}
.advantage__card-user_avatar {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
.advantage__card-user_name {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
.advantage__card-user_info {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.advantage__navigation-before {
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  top: 45%;
  left: 75px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.15);
          box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.15);
}
.advantage__navigation-before:hover {
  cursor: pointer;
  opacity: 0.5;
}
.advantage__navigation-before > span {
  display: block;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #3D50F9;
  border-left: 2px solid #3D50F9;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.advantage__navigation-after {
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  top: 45%;
  right: 75px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.15);
          box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.15);
}
.advantage__navigation-after:hover {
  cursor: pointer;
  opacity: 0.5;
}
.advantage__navigation-after > span {
  display: block;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #3D50F9;
  border-right: 2px solid #3D50F9;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.advantage__points {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}
.advantage__point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #EDF2F7;
}
.advantage__point_action {
  background-color: #3D50F9;
}

.partners {
  margin-top: 150px;
  width: 100vw;
  background-color: #2C3442;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partners__content {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.partners__prompt {
  position: relative;
  margin-top: 107px;
  color: #fff;
  padding: 67px 0 0 48px;
  width: 35%;
}
.partners__prompt-decoration {
  width: 231px;
  height: 231px;
  background-image: url(/images/card-image-blue.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}
.partners__prompt-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  margin: 0;
  padding: 0;
  position: relative;
}
.partners__prompt-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 37px;
}
.partners__form {
  width: 539px;
  padding: 44px 56px 62px;
  margin: 97px 0 114px;
  background-color: #fff;
  -webkit-box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.1);
          box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.1);
  border-radius: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.partners__form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners__form-content > input#brief {
  height: 104px;
}
.partners__form-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}
.partners__form > input {
  height: 104px;
}
.partners__form-input {
  display: block;
  margin-top: 14px;
  width: 100%;
  height: 44px;
  border: 1px solid #ABB0BA;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.partners__form-input::-webkit-input-placeholder {
  color: #A9A9A9;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.partners__form-input::-moz-placeholder {
  color: #A9A9A9;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.partners__form-input:-ms-input-placeholder {
  color: #A9A9A9;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.partners__form-input::-ms-input-placeholder {
  color: #A9A9A9;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.partners__form-input::placeholder {
  color: #A9A9A9;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.partners__form-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 34px;
}
.partners__form-subtitle > a {
  color: #2C3442;
}
.partners__form-button {
  width: 225px;
  height: 55px;
  border-radius: 100px;
  background-color: #3D50F9;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  color: #fff;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}